.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Todo: think about CSS strategy */

.modern-health-app {
  width: 80%;
  margin: 10% auto;
}

.program-preview {
  border: 3px solid black;


  
}

.sections {
  display: flex;
}

.card {
  height: 200px;
  width: 150px;
  display: inline-block;
  border: 1px solid black;
  border-radius: 2px;
}

.sections .card {
  display: flex;
  flex-direction : column;
  position: relative;

  & .completion-badge {
    position: absolute;
    top: 10px;
    right: 10px;

    width: 20px;
    height: 20px;

  }
}

.section-card__image {
  max-height: 100%;
  max-width: 100%;
}


.section-view {
  height: 300px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & footer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
}

.question-activity__options {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0px;
};

.question-activity__option {
  width: auto;
  padding: 5px;
  margin: 5px 10px 5px 0px;
  border-radius: 5px;
  background: aliceblue;
  outline: 0;

  &.selected {
    background: cyan;
  }
}



